<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table class="table">
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>LastName</th>
        <th>Role</th>
        <th>Operations</th>
    </tr>
    <tr th:each="user: ${AllUsers}">
        <td th:text="${user.id}"></td>
        <td th:text="${user.username}"></td>
        <td th:text="${user.lastname}"></td>
        <td th:text="${user.roles}"></td>


        <td>
            <a th:href="@{/updateInfo(userId=${user.id}, allRoles=${allRoles})}">
                <input type="button" value="Update"/>
            </a>
        </td>
        <td>
            <a th:href="@{/deleteUser(userId=${user.id})}">
                <input type="button" value="Delete"/>
            </a>
        </td>
    </tr>
</table>
<a th:href="@{/auth/registration}"> <br/>
    <input type="button" value="Add New User"/>
</a>
<a href="/logout">Logout</a>
</body>
</html>
